

.div1{
	background: rgb(255, 255, 255);
	font-size: 30px;
	font-style: italic;
	text-align: center;
}
.h1{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 35px;
	font-weight: 700;
	text-decoration-line: underline;
}

.span1{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span2{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span3{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span4{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}

.span5{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span6{
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span7{	
	color: aliceblue;
	background: rgb(165, 0, 0);
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}
.span8{
	background: rgb(165, 0, 0);
	color: aliceblue;
	font-size: 25px;
	font-weight: 700;
	text-decoration-line: underline;
}


